<h1 class="board-title"> board: <%= board.get("title") %> </h1>
<button class="board-remove">Remove Board</button>

<ul>
  <% board.lists().each(function (list) { %>
    <li><%= list.get("title") %></li>
  <% }) %>
</ul>



